{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "semi": true,

    "singleQuote": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,

    "trailingComma": "all",
    "singleAttributePerLine": false,
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "objectWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "proseWrap": "preserve",
    "insertPragma": false,
    "requirePragma": false,
    "embeddedLanguageFormatting": "auto"
}
