name: Format

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  biome:
    if: github.repository_owner == 'Something-Great-AI'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Format code
        run: bunx --bun biome format --write .
